body {
    margin: 0px;
}

canvas {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 500%;
    margin-bottom: 10px;
    margin-top: 0px;
}

h2 {
    font-family: 'Zilla Slab', serif;
    color: black;
}

h3 {
    font-family: 'Zilla Slab', serif;
}

p {
    text-align: left;
}

option {
    font-family: "Courier";
    font-size: 14px;
}


ul{color: white}
li {
  font-family:'Bubbler One', sans-serif;
}
.hydrogen__button {
    color: black;
    font-family: "Courier";
    font-size: 30px;
    margin-bottom: 15px;
}
.hydrogen__input {
    clip: rect(0,0,0,0);
    position:absolute;
}
.hydrogen__drop-caps {
    color: #AC2B37;
    float: left;
    font-family: Georgia;
    font-size: 5em;
    line-height: 0.9em;
    padding-right: 4px;
    padding-left: 0.1em;
}

.info-panel {
    padding: 5px;
    background-color: #ffffff;
    z-index: 1;
}

.Absolute {
    position: absolute;
    z-index: 100000;
}

.Center {
    width: 200px;
    height: 100px;
    left: 50%;
    top: 140px;
    margin: -150px 0 0 -100px;
    background: transparent;
}

.radial-element {
    stroke: #2d1e2f;
    stroke-width: 3px;
    -webkit-transition: transform 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: transform 0.5s;
}

.radial-element:hover {
    stroke-width: 4px;
}

.grad {
    background: black;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(gray, white);
    /* Standard syntax */
}

.box-title {
    border-style: solid solid solid solid;
    border-left-width: 10px;
    border-right-width: 10px;
}

.box-title-2 {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 10px;
    border-right-width: 10px;
}

.blend-title {
    color: white;
    mix-blend-mode: screen;
}

#elem1 {
    -ms-transform: translate(100px, 0px);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px);
    /* Safari */
    transform: translate(100px, 0px)
}

#elem1:hover {
    -ms-transform: translate(100px, 0px) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) scale(1.15)
}

#elem2 {
    -ms-transform: translate(100px, 0px) rotate(60deg);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(60deg);
    /* Safari */
    transform: translate(100px, 0px) rotate(60deg)
}

#elem2:hover {
    -ms-transform: translate(100px, 0px) rotate(60deg) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(60deg) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) rotate(60deg) scale(1.15)
}

#elem3 {
    -ms-transform: translate(100px, 0px) rotate(120deg);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(120deg);
    /* Safari */
    transform: translate(100px, 0px) rotate(120deg)
}

#elem3:hover {
    -ms-transform: translate(100px, 0px) rotate(120deg) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(120deg) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) rotate(120deg) scale(1.15)
}

#myChart {
    width: 95%;
    height: 200px;
    border-color: #ffffff;
}

#model-container {
    border-style: solid;
    border-color: #000000;
    margin-top: 10px;
    padding: 0px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

#model-container:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#equation {
    color: white;
}
#my-footer {
  background-color: #dddddd;
  z-index : 100000;
  border-style: solid hidden hidden hidden;
  border-width:5px
}
input[type=range] {
    margin-bottom: 10px;
}
