.Block-controls {
  position: fixed;
  top: 5em;
}

.Inline-controls {
  position:fixed;
  top: 5em;
  left: 3em;
}

.save {
  position:fixed;
  top:5em;
  right:0em;
}

.title {
  text-align: center;
  font-weight: 900;
}
.drop-caps {
  font-size: 1rem;
  color: #000;
}
.drop-caps :first-child:first-letter {
  color: #AC2B37;
  float: left;
  font-family: Georgia;
  font-size: 5em;
  line-height: 0.9em;
  padding-right: 0.1em;
  padding-left: 0em;
 }
.align-left div {
    text-align: left;
}
.editor-control {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block; 
}
pre {
  background-color: #eeeeee;
  margin:0em;
}
