body {
    margin: 0px;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 500%;
    margin-bottom: 10px;
    margin-top: 0px;
}

h2 {
    font-family: 'Zilla Slab', serif;
    color: black;
}

h3 {
    font-family: 'Zilla Slab', serif;
}
h4 {
    font-family: 'Zilla Slab', serif;
}

p {
    text-align: left;
    white-space: pre-line;
}


ul{color: black}
li {
  font-family:'Bubbler One', sans-serif;
}  
img {
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
  }
  .imgbox {
   display: grid;
   height: 100%;
  }

.card {
   background-color: white;
   margin-top: 1em;
   padding: 1em;
   /*box-shadow: 0 0em 0.8em 0 rgba(0, 0, 0, 0.3);*/
}
.box-title {
    border-style: solid solid solid solid;
    border-left-width: 10px;
    border-right-width: 10px;
}

.box-title-2 {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 10px;
    border-right-width: 10px;
}

.blend-title {
    color: white;
    mix-blend-mode: screen;
}
.page-link {
    text-align: center;
    margin-top: 0em;  
    background-color:#eeeeee;
    border: none;
}
#elem1 {
    -ms-transform: translate(100px, 0px);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px);
    /* Safari */
    transform: translate(100px, 0px)
}

#elem1:hover {
    -ms-transform: translate(100px, 0px) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) scale(1.15)
}

#elem2 {
    -ms-transform: translate(100px, 0px) rotate(60deg);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(60deg);
    /* Safari */
    transform: translate(100px, 0px) rotate(60deg)
}

#elem2:hover {
    -ms-transform: translate(100px, 0px) rotate(60deg) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(60deg) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) rotate(60deg) scale(1.15)
}

#elem3 {
    -ms-transform: translate(100px, 0px) rotate(120deg);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(120deg);
    /* Safari */
    transform: translate(100px, 0px) rotate(120deg)
}

#elem3:hover {
    -ms-transform: translate(100px, 0px) rotate(120deg) scale(1.15);
    /* IE 9 */
    -webkit-transform: translate(100px, 0px) rotate(120deg) scale(1.15);
    /* Safari */
    transform: translate(100px, 0px) rotate(120deg) scale(1.15)
}
#my-footer {
  background-color: #dddddd;
  z-index : 100000;
  border-style: solid hidden hidden hidden;
  border-width:5px
}
#git {
    color: #FFFFFF;
}
#git:hover{
  color:#AC2B37
}
#linkedIn {
    color:#FFFFFF;
}
#linkedIn:hover{
  color:#AC2B37
}
#piedPiper {
    color:#FFFFFF;
}
#piedPiper:hover{
  color:#AC2B37
}
